-
    var nav = [
      'Главная',
      'О компании',
      'Бренды',
      'Клиентам',
      'Акции',
      'Контакты',
      'Новости'
    ]                     
header.header
    #header-info-block
        span All orders have FREE and Fast shipping
        img(src="img/icons/close.svg", alt="")
    .box
        .header__left
            .logo-block
                a(href="/" class="logo")
                    img(src="", alt="")
        .header__right