body {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Akrobat', sans-serif;
  font-weight: 400; }
  body * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

a {
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: inherit; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

button {
  cursor: pointer; }

label {
  cursor: pointer; }

section {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

select, input, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent; }

.content-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  left: 0; }

.page-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1; }

.footer-wrapper {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1;
      -ms-flex: 0 1;
          flex: 0 1; }

.box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1146px;
  margin: 0 auto; }
  @media (max-width: 1600px) {
    .box {
      max-width: 1170px;
      padding: 0px 15px; } }
  @media (max-width: 1440px) {
    .box {
      max-width: 1115px;
      padding: 0px 15px; } }
  .box.wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }

.row {
  min-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -30px; }

.animate-btn {
  height: 55px;
  width: 225px;
  background: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }
  .animate-btn .orange-color {
    height: 100%;
    width: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #EDA213;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
  .animate-btn .green-color {
    height: 100%;
    width: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #4D9704;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
  .animate-btn__link {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    color: #ffffff;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    right: 0;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
    .animate-btn__link img {
      margin-right: 10px; }
    .animate-btn__link span {
      font-size: 20px;
      text-transform: uppercase;
      color: #01002C; }
  .animate-btn:hover .orange-color {
    width: 100%;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
  .animate-btn:hover__link {
    color: #ffffff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.title {
  font-size: 42px;
  text-transform: uppercase;
  font-family: 'BravoRG';
  margin-bottom: 10px;
  font-weight: 400; }
  .title.white {
    color: #ffffff; }
  .title.dark {
    color: #01002C;
    border-top: 2px solid #01002C;
    border-bottom: 2px solid #01002C;
    padding: 10px 0px; }

.plus-ico {
  width: 16px;
  height: 16px;
  border: 1px solid #01002C;
  position: relative;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
  .plus-ico:before {
    content: "";
    width: 8px;
    height: 2px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #01002C; }
  .plus-ico:after {
    content: "";
    width: 8px;
    height: 2px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
        -ms-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
    background-color: #01002C; }

.dark-btn {
  padding: 16px 24px;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .dark-btn:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #01002C;
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .dark-btn:hover {
    border-top: 2px solid #01002C;
    border-bottom: 2px solid #01002C;
    color: #01002C;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .dark-btn:hover:before {
      top: -100%;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }

.popular-achieve {
  width: 52px;
  height: 52px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }
  .popular-achieve span {
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
    color: #01002C;
    text-transform: uppercase;
    -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
            transform: rotate(15deg);
    position: relative;
    z-index: 3; }
  .popular-achieve:before {
    content: "";
    margin-right: 18px;
    width: 54px;
    height: 54px;
    background: #EDA213;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -2px;
    z-index: 2; }
  .popular-achieve:after {
    content: "";
    margin-right: 18px;
    width: 54px;
    height: 54px;
    background: #4D9704;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -20px;
    z-index: 1; }

header #header-info-block {
  width: 100%;
  height: 40px;
  background: #D9DADC;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }
  header #header-info-block span {
    font-size: 14px;
    text-transform: uppercase;
    color: #01002C; }
  header #header-info-block img {
    position: absolute;
    right: 8px;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    cursor: pointer; }

header .header__content {
  position: relative; }
  header .header__content .box {
    width: 100%;
    height: 72px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    header .header__content .box .header__content-left {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%; }
      header .header__content .box .header__content-left .logo-block {
        width: 100px;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-right: 40px; }
        header .header__content .box .header__content-left .logo-block:before {
          content: '';
          width: 20%;
          position: absolute;
          left: 0;
          top: 0;
          height: 72px;
          background: #01002C;
          display: block;
          z-index: -1; }
        header .header__content .box .header__content-left .logo-block .logo {
          width: 100%;
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          background: #01002C; }
          header .header__content .box .header__content-left .logo-block .logo img {
            width: 100%; }
      header .header__content .box .header__content-left .menu {
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        header .header__content .box .header__content-left .menu__list {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row; }
          header .header__content .box .header__content-left .menu__list-item {
            margin-right: 25px; }
            header .header__content .box .header__content-left .menu__list-item a {
              font-size: 20px;
              color: #01002C;
              padding-right: 27px;
              border-right: 2px solid #01002C;
              text-transform: uppercase;
              -webkit-transition: .3s;
              -o-transition: .3s;
              transition: .3s; }
              header .header__content .box .header__content-left .menu__list-item a:hover {
                -webkit-transition: .3s;
                -o-transition: .3s;
                transition: .3s;
                color: #EDA213; }
    header .header__content .box .header__content-right {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      header .header__content .box .header__content-right .contact-us {
        font-size: 20px;
        color: #01002C;
        text-transform: uppercase;
        margin-right: 40px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        header .header__content .box .header__content-right .contact-us:hover {
          color: #EDA213;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
      header .header__content .box .header__content-right .header-personal {
        margin-right: 20px; }

.footer {
  width: 100%;
  height: auto;
  background: #01002C;
  padding-top: 65px; }
  .footer .box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
  .footer__first-layout {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2); }
  .footer__second-layout {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 32px; }
    .footer__second-layout .copyright {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.5); }
    .footer__second-layout a {
      margin-left: 5px;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.5);
      text-decoration: underline;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .footer__second-layout a:hover {
        color: #EDA213;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
  .footer__section {
    width: 15%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 50px; }
    .footer__section:last-of-type {
      margin: 0px; }
    .footer__section.section-logo {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer__section.section-logo .footer-logo {
        width: 82px; }
    .footer__section.about {
      width: 30%; }
  .footer__title {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 15px; }
  .footer__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer__list-item {
      margin-bottom: 10px; }
      .footer__list-item a {
        font-size: 20px;
        color: #ffffff;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .footer__list-item a:hover {
          color: #EDA213;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
  .footer__text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5); }
  .footer__social {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 15px; }
    .footer__social-item {
      margin-right: 10px; }
      .footer__social-item a {
        width: 40px;
        height: 40px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        -webkit-border-radius: 50%;
                border-radius: 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        color: #ffffff;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .footer__social-item a:hover {
          color: #EDA213;
          border-color: #EDA213;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }

.main {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .main__banner {
    background: #01002C;
    width: 100%;
    height: 405px;
    background-image: url(../img/main-banner.png);
    -webkit-background-size: cover;
            background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .main__banner-info {
      max-width: 460px;
      width: 100%;
      position: relative;
      padding-top: 25px; }
      .main__banner-info:before {
        content: "";
        width: 265px;
        height: 2px;
        background: #ffffff;
        position: absolute;
        top: 0;
        left: 0; }
      .main__banner-info-text {
        font-size: 14px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 25px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
  .main .combination-section {
    width: 100%;
    height: auto;
    background-image: url(../img/second-background.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    padding-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-bottom: 95px;
    margin-bottom: 95px; }
    .main .combination-section .box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative; }
    .main .combination-section__left-baloon {
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translate(0%, -50%);
          -ms-transform: translate(0%, -50%);
              transform: translate(0%, -50%);
      max-width: 290px;
      width: 100%; }
    .main .combination-section__right-baloon {
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translate(0%, -50%);
          -ms-transform: translate(0%, -50%);
              transform: translate(0%, -50%);
      max-width: 250px;
      width: 100%; }
    .main .combination-section .scroll-to-explore {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 5px;
      position: relative;
      font-size: 14px;
      color: #01002C;
      text-transform: uppercase; }
      .main .combination-section .scroll-to-explore:before {
        content: url("../img/icons/arrow-down.svg");
        margin-right: 16px; }
      .main .combination-section .scroll-to-explore:after {
        content: url("../img/icons/arrow-down.svg");
        margin-left: 16px; }
    .main .combination-section .cookies {
      width: 100%;
      height: 65px;
      background: -webkit-linear-gradient(bottom, #01002C, #01002C), -webkit-linear-gradient(358.95deg, #4D9704 0%, #01002C 100%);
      background: -o-linear-gradient(bottom, #01002C, #01002C), -o-linear-gradient(358.95deg, #4D9704 0%, #01002C 100%);
      background: linear-gradient(0deg, #01002C, #01002C), linear-gradient(91.05deg, #4D9704 0%, #01002C 100%);
      opacity: 0.9;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 14px;
      color: #ffffff;
      padding: 16px 0px; }
      .main .combination-section .cookies-container {
        max-width: 670px;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .main .combination-section .cookies-container .hide-cookies {
          text-transform: uppercase;
          text-decoration: underline; }
      .main .combination-section .cookies-text {
        max-width: 560px;
        width: 100%; }
    .main .combination-section__main {
      margin-top: 15px;
      text-align: center;
      max-width: 560px;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .main .combination-section__main .animate-btn {
        width: 180px;
        margin: 0 auto; }
      .main .combination-section__main .title {
        width: 100%;
        margin-bottom: 15px; }
      .main .combination-section__main-text {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        font-size: 16px;
        color: #01002C;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 40px; }
      .main .combination-section__main-list {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        margin-bottom: 40px; }
        .main .combination-section__main-list .list-item {
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          padding: 0px 20px;
          text-align: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          position: relative; }
          .main .combination-section__main-list .list-item:after {
            content: '';
            width: 2px;
            height: 75px;
            background: #01002C;
            opacity: .2;
            position: absolute;
            right: 0;
            top: 0; }
          .main .combination-section__main-list .list-item:nth-of-type(3n):after {
            display: none; }
          .main .combination-section__main-list .list-item .plus-ico {
            margin-bottom: 10px; }
  .main .result-section {
    width: 100%;
    margin-bottom: 95px; }
    .main .result-section .box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .main .result-section .title.dark {
      max-width: 85px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 65px; }
    .main .result-section__list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .main .result-section__list-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        width: 100%;
        padding-right: 34px; }
        .main .result-section__list-item .item-ico-section {
          margin-right: 18px;
          width: 64px;
          height: 64px;
          background: #01002C;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          position: relative;
          -webkit-flex-shrink: 0;
              -ms-flex-negative: 0;
                  flex-shrink: 0; }
          .main .result-section__list-item .item-ico-section img {
            max-width: 30px; }
          .main .result-section__list-item .item-ico-section:before {
            content: "";
            margin-right: 18px;
            width: 66px;
            height: 66px;
            background: #EDA213;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
            left: -2px;
            z-index: -1; }
          .main .result-section__list-item .item-ico-section:after {
            content: "";
            margin-right: 18px;
            width: 66px;
            height: 66px;
            background: #4D9704;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
            right: -20px;
            z-index: -2; }
        .main .result-section__list-item .item-text-section {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          padding-top: 24px; }
          .main .result-section__list-item .item-text-section__title {
            font-family: BravoRG;
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 10px; }
          .main .result-section__list-item .item-text-section__list {
            width: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column; }
            .main .result-section__list-item .item-text-section__list-item {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              width: 100%;
              margin-bottom: 10px;
              font-size: 16px;
              color: #01002C;
              opacity: .5; }
              .main .result-section__list-item .item-text-section__list-item .plus-ico {
                opacity: .5;
                margin-right: 10px; }
  .main .ingridients-section {
    width: 100%;
    margin-bottom: 95px; }
    .main .ingridients-section .title.dark {
      max-width: 270px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 65px; }
    .main .ingridients-section__content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      position: relative;
      width: 100%; }
      .main .ingridients-section__content-central {
        position: absolute;
        max-width: 400px;
        width: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      .main .ingridients-section__content-side {
        max-width: 265px;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .main .ingridients-section__content-side .content-side__item {
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-bottom: 40px; }
          .main .ingridients-section__content-side .content-side__item-img {
            width: 68px;
            margin-bottom: 10px; }
          .main .ingridients-section__content-side .content-side__item-title {
            font-family: BravoRG;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            text-transform: uppercase;
            color: #01002C; }
          .main .ingridients-section__content-side .content-side__item-text {
            font-size: 14px;
            color: #01002C;
            opacity: .5;
            text-align: center; }
    .main .ingridients-section .dark-btn {
      max-width: 188px;
      width: 100%;
      margin: 0 auto; }
  .main .without-section {
    width: 100%;
    margin-bottom: 95px; }
    .main .without-section .title.dark {
      max-width: 100px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 25px; }
    .main .without-section__content {
      max-width: 580px;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 auto; }
      .main .without-section__content-info {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin-bottom: 40px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 20px;
        color: rgba(1, 0, 44, 0.5); }
      .main .without-section__content-list {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .main .without-section__content-list .content-list-item {
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .main .without-section__content-list .content-list-item-img {
            width: 64px;
            margin-bottom: 10px; }
          .main .without-section__content-list .content-list-item-text {
            font-family: BravoRG;
            font-size: 20px;
            color: #01002C; }
  .main .choose-plan-section {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 95px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 685px; }
    .main .choose-plan-section-left {
      width: 50%;
      height: 100%;
      background: #01002C;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-right: 85px; }
      .main .choose-plan-section-left .section-left-content {
        max-width: 560px;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .main .choose-plan-section-left .section-left-content .title.white {
          max-width: 435px;
          width: 100%;
          text-align: center;
          margin-bottom: 10px; }
        .main .choose-plan-section-left .section-left-content .choose-plan-subtitle {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          margin-bottom: 25px;
          font-size: 16px;
          color: #ffffff;
          text-transform: uppercase;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
        .main .choose-plan-section-left .section-left-content .choose-plan-container {
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          margin-bottom: 25px;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
              -ms-flex-align: start;
                  align-items: flex-start; }
          .main .choose-plan-section-left .section-left-content .choose-plan-container .plan {
            height: 180px;
            padding: 0px 55px 0px 15px;
            border-left: 2px solid rgba(255, 255, 255, 0.2);
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            position: relative; }
            .main .choose-plan-section-left .section-left-content .choose-plan-container .plan__status {
              font-size: 16px;
              color: rgba(248, 248, 248, 0.5);
              text-transform: uppercase;
              margin-bottom: 10px;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              width: 100%; }
            .main .choose-plan-section-left .section-left-content .choose-plan-container .plan__price {
              font-size: 32px;
              text-transform: uppercase;
              color: rgba(248, 248, 248, 0.5);
              margin-bottom: 25px;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              width: 100%;
              font-weight: 600; }
            .main .choose-plan-section-left .section-left-content .choose-plan-container .plan__choose {
              color: rgba(248, 248, 248, 0.5);
              font-size: 24px;
              text-transform: uppercase;
              font-weight: 600;
              -webkit-transition: .3s;
              -o-transition: .3s;
              transition: .3s; }
            .main .choose-plan-section-left .section-left-content .choose-plan-container .plan .white {
              color: #f8f8f8; }
            .main .choose-plan-section-left .section-left-content .choose-plan-container .plan .old {
              margin-left: 5px;
              color: rgba(248, 248, 248, 0.5);
              text-decoration: line-through; }
            .main .choose-plan-section-left .section-left-content .choose-plan-container .plan .new {
              color: #4D9704;
              margin-left: 5px; }
            .main .choose-plan-section-left .section-left-content .choose-plan-container .plan__choose:hover {
              color: #EDA213;
              -webkit-transition: .3s;
              -o-transition: .3s;
              transition: .3s; }
            .main .choose-plan-section-left .section-left-content .choose-plan-container .plan .popular-achieve {
              position: absolute;
              right: 0;
              top: 0; }
        .main .choose-plan-section-left .section-left-content .plans-info {
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          .main .choose-plan-section-left .section-left-content .plans-info__item {
            opacity: .5; }
            .main .choose-plan-section-left .section-left-content .plans-info__item-img {
              margin-right: 10px;
              width: 16px; }
            .main .choose-plan-section-left .section-left-content .plans-info__item-text {
              font-size: 16px;
              color: #ffffff;
              text-transform: uppercase; }
    .main .choose-plan-section-right {
      width: 50%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      background-image: url(../img/leafe.jpg);
      -webkit-background-size: cover;
              background-size: cover;
      background-position: center center; }
  .main .mens-told {
    width: 100%;
    margin-bottom: 95px; }
    .main .mens-told .title.dark {
      max-width: 250px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 40px; }
    .main .mens-told__slider {
      width: 100%; }
      .main .mens-told__slider-elem {
        border-left: 2px solid #D9DADC;
        padding-left: 20px;
        margin-right: 50px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .main .mens-told__slider-elem .slider-comment {
          color: #01002C;
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 30px; }
        .main .mens-told__slider-elem .slider-info {
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .main .mens-told__slider-elem .slider-info__image {
            width: 72px;
            margin-right: 10px; }
          .main .mens-told__slider-elem .slider-info__commentator {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column; }
            .main .mens-told__slider-elem .slider-info__commentator-name {
              font-size: 14px;
              color: #01002C;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              width: 100%;
              margin-bottom: 10px; }
            .main .mens-told__slider-elem .slider-info__commentator-loc {
              font-size: 14px;
              color: #01002C;
              opacity: .5; }
      .main .mens-told__slider .owl-dots {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 40px; }
        .main .mens-told__slider .owl-dots .owl-dot {
          width: 16px;
          height: 16px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          border: 2px solid #01002C;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          margin: 0px 12px; }
          .main .mens-told__slider .owl-dots .owl-dot.active {
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            background: #01002C; }
  .main .images-section {
    width: 100%;
    margin-bottom: 95px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .main .images-section .images-elem {
      width: 100%;
      height: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      background: #E5E5E5; }
      .main .images-section .images-elem__link {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        font-family: BravoRG;
        font-size: 32px;
        text-transform: uppercase;
        text-align: center;
        color: #01002C;
        padding: 10px 0px;
        border-top: 2px solid #01002C;
        border-bottom: 2px solid #01002C; }
    .main .images-section__top {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      .main .images-section__top img {
        width: 100%; }
    .main .images-section__bot {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      .main .images-section__bot img {
        width: 100%; }
  .main .subscribe-section {
    width: 100%;
    margin-bottom: 95px; }
    .main .subscribe-section .title.dark {
      max-width: 160px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 25px; }
    .main .subscribe-section__content {
      max-width: 560px;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .main .subscribe-section__content-subtitle {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 25px;
        font-size: 16px;
        color: #01002C; }
      .main .subscribe-section__content-form {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start; }
        .main .subscribe-section__content-form .label {
          width: 100%;
          background: #ffffff;
          position: relative; }
          .main .subscribe-section__content-form .label input {
            padding: 16px 24px;
            text-align: left;
            font-size: 20px;
            font-family: Akrobat;
            text-transform: uppercase;
            color: #01002C;
            width: 100%;
            position: relative;
            z-index: 10;
            border: 2px solid #D9DADC; }
          .main .subscribe-section__content-form .label .active-inp {
            position: absolute;
            top: 50%;
            left: 24px;
            -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            z-index: 1; }
            .main .subscribe-section__content-form .label .active-inp img {
              width: 24px;
              margin-right: 10px; }
            .main .subscribe-section__content-form .label .active-inp span {
              font-size: 20px;
              font-family: Akrobat;
              text-transform: uppercase;
              color: #D9DADC; }
        .main .subscribe-section__content-form .subscribe-form-submit {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-shrink: 0;
              -ms-flex-negative: 0;
                  flex-shrink: 0;
          border-top: 2px solid #01002C;
          border-bottom: 2px solid #01002C; }
