header
	#header-info-block
		width: 100%
		height: 40px
		background: #D9DADC
		display: flex
		align-items: center
		justify-content: center
		position: relative
		z-index: 100

		& span
			font-size: 14px
			text-transform: uppercase
			color: #01002C
		
		& img
			position: absolute
			right: 8px
			top: 50%
			transform: translate(0%, -50%)
			cursor: pointer

	& .header__content
		position: relative
		background: #ffffff
		z-index: 100

		& .box
			width: 100%
			height: 72px
			display: flex
			align-items: center
			justify-content: space-between

			& .header__content-left
				display: flex
				height: 100%

				& .logo-block
					width: 100px
					height: 100%
					display: flex
					margin-right: 40px

					&:before
						content: ''
						width: 20%
						position: absolute
						left: 0
						top: 0
						height: 72px
						background: $main
						display: block
						z-index: -1

					& .logo
						width: 100%
						height: 100%
						display: flex
						align-items: center
						justify-content: center
						background: $main

						& img
							width: 100%

				& .menu
					height: 100%
					display: flex
					align-items: center

					&__list
						display: flex
						align-items: center
						flex-direction: row

						&-item
							margin-right: 25px

							& a
								font-size: 20px
								color: $main
								padding-right: 27px
								border-right: 2px solid $main
								text-transform: uppercase
								transition: .3s

								&:hover
									transition: .3s
									color: $orange

			& .header__content-right
				display: flex
				height: 100%
				align-items: center

				& .contact-us
					font-size: 20px
					color: $main
					text-transform: uppercase
					margin-right: 40px
					transition: .3s

					&:hover
						color: $orange
						transition: .3s

				& .header-personal
					margin-right: 20px

.mobile-menu-btn,
.logo-mob,
.mobile-menu
	display: none

@include media( 768)
	.mobile-menu-btn,
	.logo-mob
		display: flex
	
	.mobile-menu-btn
		width: 24px
		height: 24px
		align-items: center
		justify-content: flex-start
		cursor: pointer
		position: relative
		border: 2px solid transparent
		transition: .3s

		& .hamburger-ico
			width: 50%
			height: 2px
			background: $main
			border-radius: 10px
			display: flex
			transition: .3s

			&:before
				content: ""
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 2px
				display: flex
				background: $main
				transition: .3s
		
		&.active
			border-color: $main
			border-radius: 50%
			transition: .3s
			& .hamburger-ico
				width: 0
				height: 0
				background: $main
				border-radius: 10px
				display: flex
				transition: .3s

				&:before
					content: ""
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%) rotate(45deg)
					width: 13px
					height: 2px
					display: flex
					background: $main
					transition: .3s
				
				
				&:after
					content: ""
					position: absolute
					bottom: initial
					top: 50%
					left: 50%
					transform: translate(-50%, -50%) rotate(-45deg)
					width: 13px
					height: 2px
					display: flex
					background: $main
					transition: .3s
	.mobile-menu
		width: 100%
		height: 100%
		position: fixed
		top: 0
		left: 0
		background: $main
		z-index: 90
		padding-top: 150px
		color: #ffffff
		text-align: center
		font-size: 20px
		text-transform: uppercase
		overflow-y: auto

		& .mobile-menu__first-list
			width: 100%
			display: flex
			justify-content: center
			align-items: center
			flex-direction: column
			margin-bottom: 40px
			position: relative

			&:after
				content: ''
				width: 100px
				height: 2px
				background: #ffffff
				display: block
		
		& .mobile-menu__second-list
			width: 100%
			display: flex
			justify-content: center
			align-items: center
			flex-direction: column

		& .mobile-menu__item
			margin-bottom: 32px

			& a
				width: 100%
				display: flex
				align-items: center
				flex-direction: row

				& img
					margin-right: 10px
