doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(href="assets/img/favicon.ico", rel="shortcut icon")
		link(type="text/css", href="css/libs.min.css", rel="stylesheet")
		link(type="text/css", href="css/jquery-ui.min.css", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700&display=swap&subset=cyrillic" rel="stylesheet")
		link(href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css", rel="stylesheet")
		link(href="css/owl.carousel.min.css", rel="stylesheet")
		link(rel="stylesheet", href="fonts/Akrobat/akrobat.css")
		link(rel="stylesheet", href="fonts/BravoRG/bravo.css")
		script(src="https://kit.fontawesome.com/e32077e01c.js")
		link(type="text/css", href="css/main.css", rel="stylesheet")
		title John Leo Rose 
	body
		#contentWrapper.content-wrapper
			#pageWrapper.page-wrapper
				include _header
				block content

			#footerWrapper.footer-wrapper
				include _footer
		script(src="js/fm.revealator.jquery.js")
		script(src="js/libs.min.js")
		script(src="js/jquery-ui.min.js")
		script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
		script(src="js/owl.carousel.min.js")
		script(src="js/jquery.validate.min.js")
		script(src="js/common.js")