extends blocks/_layout
append content

	main.main
		.main__banner
			.box
				.animate-btn
					.orange-color
					.green-color
					a(class="animate-btn__link" href="") 
						img(src="img/icons/shop.svg", alt="Shop")
						span start shopping