extends blocks/_layout
append content
	-
		var instant = [
			'Energising Skin Hydration',
			'Reducing Fatigued Look ',
			'Brighter-Looking Skin',
		];
		var renewal = [
			'Protection against environmental aggressors (UV, Pollution, Stress, Smoke)',
			'Brighter, Smoother & more Radiant Skin Complection ',
			'Radiant Skin Complection Increased Skin Elasticity & Repaired Cell Damage',
		];
		var results = [
			'Visibily Reduced Signs of Aging ',
			'Aging Skin Looks & Feels Firmer',
			'Evened Out Skin Tone & Reduced Appearance of Pores',
		];
	main.main
		.main__banner
			.box
				.main__banner-info
					h2(class="title white") The only brand in the world to offer the next generation skincare treatments for men
					span(class="main__banner-info-text") Energise + Protect + Streighten + Rejuvenate Skin
					.animate-btn
						.orange-color
						.green-color
						a(class="animate-btn__link" href="/") 
							img(src="img/icons/shop.svg", alt="Shop")
							span start shopping
		.combination-section
			a(class="scroll-to-explore" id="scroll-to-explore-js" href="javascript:void(0)") Scroll to Explore
			.cookies
				.cookies-container
					span(class="cookies-text") By further browsing on our site, you agree to our Use of Cookies to improve your experience and deliver content and services tailored to your interests
					a(class="hide-cookies" id="hide-cookies-js" href="javascript:void(0)") Close & Accept
			.box
				img(class="combination-section__left-baloon", src="img/baloon2.png", alt="Baloon")
				.combination-section__main
					h2(class="title dark") Combination of cream & pills is key for results men’s skin all types all ages
					span(class="combination-section__main-text") Based on 40 years of pharma science research
					.combination-section__main-list
						.list-item
							.plus-ico
							span(class="combination-section__main-text") Combination of oral skincare supplement (nutracosmetics) & skincare gel (cosmeceutical)
						.list-item
							.plus-ico
							span(class="combination-section__main-text") KISS (Keep It Simple) routine
						.list-item
							.plus-ico
							span(class="combination-section__main-text") Combining instant satisfaction with long-term results
					.animate-btn
						.orange-color
						.green-color
						a(class="animate-btn__link" href="/") 
							img(src="img/icons/shop.svg", alt="Shop")
							span Shop now
				img(class="combination-section__right-baloon", src="img/baloon1.png", alt="Baloon")
		.result-section
			.box
				h2(class="title dark") Results
				.result-section__list
					.result-section__list-item
						.item-ico-section
							img(src="/img/icons/instant.png", alt="Instant")
						.item-text-section
							span( class="item-text-section__title") Instant Boost
							ul(class="item-text-section__list")
								each item in instant 
									li(class="item-text-section__list-item")
										.plus-ico
										span=item
					.result-section__list-item
						.item-ico-section
							img(src="/img/icons/renewal.png", alt="Renewal")
						.item-text-section
							span( class="item-text-section__title") 28 Days Skin Renewal 
							ul(class="item-text-section__list")
								each item in renewal 
									li(class="item-text-section__list-item")
										.plus-ico
										span=item
					.result-section__list-item
						.item-ico-section
							img(src="/img/icons/results.png", alt="Result") 
						.item-text-section
							span( class="item-text-section__title") 12 WeeKS LOngterm results 
							ul(class="item-text-section__list")
								each item in results 
									li(class="item-text-section__list-item")
										.plus-ico
										span=item


